<!-- portfolio.html -->

{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome to My Portfolio</h1>
        <p class="lead">
            <!--write a detailed paragraph about my career as a developer-->
            I am a Software Developer with a passion for building web applications and solving problems.<br /> I am currently a student at Zetech University pursuing a Bachelor's Degree in Software Engineering.<br /> I am also a Software Developer at Masterclass, where I work on a wide variety of interesting and meaningful projects on a daily basis.
        </p>
        <!--add an image with border radius to show the profile of the user -->
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="https://images.unsplash.com/photo-1627634771121-fa3db5779f60?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="Project 1">
                    <div class="card-body">
                        <h5 class="card-title">Master Developer</h5>
                        <p class="card-text">Team run their Sprint Retrospective in a way that encourages more participation from the group;<br /> they may coach a new Developer who needs some guidance on how to work with their new team; they also may take the teacher stance and teach team members a new technique they learned to handle conflicts with the team.<br /> These are just some of the pieces that make up the multi-layer fabric of the Scrum Master.</p>
                        <a href="https://henry7640.softr.app/" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="https://images.unsplash.com/photo-1552581234-26160f608093?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="Project 2">
                    <div class="card-body">
                        <h5 class="card-title">Project Management</h5>
                        <p class="card-text">
                            <!--write detailed information on how I worked As a project manager at Reloca company-->
                            As Project Manager, I was responsible for the overall direction, coordination, implementation, execution, control and completion of specific projects ensuring consistency with company strategy, commitments and goals.<br /> I was also responsible for the day-to-day management of the project, including supervising and monitoring the project team and keeping track of progress.
                            .</p>
                        <a href="https://courseapp-2ogy.onrender.com/" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="https://images.unsplash.com/photo-1542744173-8e7e53415bb0?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="Project 3">
                    <div class="card-body">
                        <h5 class="card-title">Scrum Master</h5>
                        <p class="card-text">
                            <!--write detailed information on how I worked As a scrum master at Reloca company-->
                            As Scrum Master, I was responsible for ensuring Scrum is understood and enacted.<br /> Scrum Masters do this by ensuring that the Scrum Team adheres to Scrum theory, practices, and rules.<br /> The Scrum Master is a servant-leader for the Scrum Team.<br /> The Scrum Master helps those outside the Scrum Team understand which of their interactions with the Scrum Team are helpful and which aren’t.<br /> The Scrum Master helps everyone change these interactions to maximize the value created by the Scrum Team.
                        </p>
                        <a href="https://airtable.com/invite/l?inviteId=invlOe9Avr2nCIi9H&inviteToken=53ce7278d3e1e0a3ffc8ac0f04ab338ba5e7f8a660a94f8974501478f8a157e6&utm_medium=email&utm_source=product_team&utm_content=transactional-alerts" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
